
<%= render 'banner_index', list: @list %>


<div class="row" data-controller="add-sweetalert">
  <% @lists.each do |list| %>
          <div class="col-12 card-category" data-add-sweetalert-target="list" data-id= "<%= list.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>');  background-size: cover;">
            <div class="card-info">
              <%= link_to "#{list.name}", list_path(list), class: 'btn btn-dark p-3 rounded' %>
              <div class="close btn"  data-action="click->add-sweetalert#alert" data-add-sweetalert-target="cross" data-id= "<%= list.id %>" ></div>
            </div>
          </div>
  <% end %>
</div>
