
<%= render 'banner_index', list: @list %>

<div data-controller="add-sweetalert">
  <% @lists.each do |list| %>
    <div class="col-6 card-category rounded d-flex flex-column flex-wrap justify-content-center align-items-center " data-add-sweetalert-target="list" data-id= "<%= list.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>');  background-size: cover;">
        <div class="card-info">
        <div>
          <span><%= link_to "#{list.name}", list_path(list), class: 'btn btn-dark' %></span>
          <div class="close btn"  data-action="click->add-sweetalert#alert" data-id= "<%= list.id %>" >
            <span data-add-sweetalert-target="cross"></span>
          </div>
          </span>
        </div>
        </div>
    </div>
</div>

<% end %>
