<h1>Create a new list</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :name, label: 'Enter your list name here'%>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add list", class: 'btn btn-success' %>
<% end%>

<div class="redirect-buttons">
  <%=link_to 'Back', lists_path,  class: 'btn btn-dark m-3' %>
</div>
