<h1><%= @list.name %></h1>

<div class="row">
  <div class="col-lg-12 col-md-12 card-product m-3">
    <% @list.movies.each do |movie| %>
    <img src="<%=movie.poster_url%>" />
    <div class="card-product-infos m-3">
      <h2><%= movie.title %></h2>
      <p><%= movie.overview %></p>
    </div>
    <% end %>
  </div>

</div>

</ul>

<%= link_to "Back to list index", lists_path, class: 'btn btn-dark p-2 m-3' %>
<%= link_to "Bookmark a new movie", new_list_bookmark_path(@list), class: 'btn btn-outline-success p-2 m-3' %>
